<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399002733706-e5mmi0qj6apon68auhegc764jutn70m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399002733706-e5mmi0qj6apon68auhegc764jutn70m1</string>
	<key>API_KEY</key>
	<string>AIzaSyDm4MvmoOzkhL9G6mRHhAqR8iQpEKK8sXk</string>
	<key>GCM_SENDER_ID</key>
	<string>399002733706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lettutorApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-lettutor-crashlytics</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-lettutor-crashlytics.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399002733706:ios:45973b3304a4d41f263173</string>
</dict>
</plist>